name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Backend
      - name: Setup Node for backend
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install backend dependencies
        working-directory: apps/backend
        run: npm ci

      - name: Run backend tests
        working-directory: apps/backend
        run: npm test

      # Frontend
      - name: Setup Node for frontend
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend dependencies
        working-directory: apps/frontend
        run: npm ci

      - name: Run frontend tests
        working-directory: apps/frontend
        run: npm test
